<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Page</title>
  <style>
    body {
      background-color: #FAEED1;
    }

    .message {
      color: #1B4242;
    }
  </style>
</head>

<body>
  <p>Welcome to chat page</p>
  <p id="username" data-username="{{.Username}}">Username : {{.Username}}</p>
  <h3 id="code" data-code="{{.Code}}">Room Code > {{.Code}}</h3>
  <input type="text" id="input-text">
  <button id="send-btn">send</button>
  <br>
  <div id="message-list">

  </div>

  <script>
    const codeTag = document.getElementById('code')
    const usernameTag = document.getElementById('username')
    const inputTag = document.getElementById('input-text')
    const sendButton = document.getElementById('send-btn')
    const messageList = document.getElementById('message-list')

    sendButton.addEventListener('click', () => {
      let msg = `${usernameTag.dataset.username}:${inputTag.value}`
      socket.send(msg)
    })

    const socket = new WebSocket(`ws://localhost:8080/ws/${codeTag.dataset.code}`)
    console.log(socket)
    socket.onopen = (e) => {
      socket.send("the connection has opened")
    }
    socket.onmessage = (e) => {
      let msgArr = e.data.split(":")
      let sender = msgArr[0]
      let text = msgArr[1]
      console.log("sender : ",sender, "text : ",text)
      messageList.innerHTML += `<p class="message">${e.data}</p>`
    }
    socket.onclose = (e) => {
      alert("this window is inactive because there is another tab of this chat opened, either switch to that or refresh this and close the other one")
    }
  </script>
</body>

</html>
