<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/stylesheets/home.css">
  <title>Home</title>
</head>

<body>
  <p id="flash-message" class="{{.Color}}">{{.Msg}}</p>
  <h1>Welcome to home page</h1>
  <br>
  <form action="/room/create" method="post">
    <label for="roomName">Room Name</label>
    <input type="text" name="roomName" required>
    <button>Create Room</button>
  </form>
  <br>

  <form action="/room/join" method="post">
    <label for="roomCode">Room Code</label>
    <input type="text" name="roomCode" required>
    <button>Join Room</button>
  </form>

  <script>
    const flashMessage = document.getElementById("flash-message")
  </script>
</body>

</html>