<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/stylesheets/home.css">
</head>

<body>
  <h3>Login Page</h3>
  <p id="flash-message" class="{{.Color}}">{{.Msg}}</p>
  <form action="" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button onclick="">Submit</button>
  </form>
  <p>Don't have an account ? <a href="/signup">Signup</a> </p>
  <script>

  </script>
</body>

</html>