<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/stylesheets/home.css">
</head>

<body>
  <h3>Signup Page</h3>
  <p id="flash-message" class="{{.Color}}">{{.Msg}}</p>
  <form action="" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <br />
    <br />
    <label for="displayName">Display Name</label>
    <input type="text" id="displayName" name="displayName" required>
    <br />
    <br />
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <br />
    <br />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <br />
    <br />
    <button onclick="">Submit</button>
  </form>

  <script>

  </script>
</body>

</html>